<a href="https://colab.research.google.com/github/neilgautam/APRIORI-ASSOCIATION_RULE_LEARNING-/blob/master/APRIORI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
def equipment_loader(file_path,equipments):
      
    equip_dict = {}
    for equipment in equipments:
        print( file_path+equipment)
        equip_data = np.load(file_path+equipment)
        equipment = equipment[:-4]
        equip_data = list(equip_data)
        equip_data = [ x for x in equip_data if x!= '0']
        equip_dict[equipment] = list(equip_data)
    return equip_dict

In [4]:
def DateString():
    date = input("Enter Date : ")
    month = input("Enter Month : ")
    year = input("Enter Year : ")
    Date= [date,month,year]
    Date ='-'.join(Date) 
    return Date

In [5]:
def DayDataExtraction(Data,equipment_list,Date):
    day_data = {}
    for equipment in equipment_list:
        equipment = equipment[:-4]
        e_data = list(Data[equipment])
        e_data = [ x for x in e_data if Date in x]
        day_data[equipment] = e_data
    cleaned_day_data = {}    
    for equipment in day_data.keys():
        if len(day_data[equipment])==0:
            continue
        else:
            cleaned_day_data[equipment] = day_data[equipment]
    no_of_equipment_w = len(cleaned_day_data.keys()) 
#     print("No of equipment working on {%s} are :"%(Date),end = " ")
#     print(no_of_equipment_w)       
    return cleaned_day_data

In [6]:
def HourDataExtraction(Data,Date,HourTime,equipment_list):
    day_ = DayDataExtraction(Data,equipment_list,Date)
    #print(day_)
    temp_list = [Date,HourTime[:2]]
    temp_time = ' '.join(temp_list)
    hourwise_data = {}
    for equip in day_.keys():
        temp_data = list(Data[equip])
        temp_data = [ x for x in temp_data if temp_time in x]
        if len(temp_data)==0:
            continue
        else:
            hourwise_data[equip] = temp_data
#     print("No of equipments working at %s %s are :"%(Date,HourTime),end =" ")
#     print(len(hourwise_data.keys()))       
    return hourwise_data

In [7]:
def TimeDataExtraction(day_,Data,Date,Time,equipment_list):
    day_ = day_
    #day_ = DayDataExtraction(Data,equipment_list,Date)
    #print(day_)
    temp_list = [Date,Time]
    temp_time = ' '.join(temp_list)
    _data = {}
    for equip in day_.keys():
        temp_data = list(Data[equip])
        temp_data = [ x for x in temp_data if temp_time in x]
        if len(temp_data)==0:
            continue
        else:
            _data[Time+' '+equip] = temp_data
#     print("No of equipments working at %s %s are :"%(Date,Time),end =" ")
#     print(len(_data.keys()))       
    return list(_data.keys())

In [8]:
def DayTimeGenerator():
    hour = ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
    minute = ['00','05']
    for x in range(10,60):
        if x%5==0:
            minute.append(str(x))
    second = '00'
    Time = []
    for hr in hour:
        for min in minute:
            temp = [hr,min,second]
            temp = ':'.join(temp)
            Time.append(temp)
    return Time

In [9]:
def MonthDateGenerator(year ,month,days_in_the_month):
    year = year
    month = month 
    days = days_in_the_month
    day = ['01','02','03','04','05','06','07','08','09']
    for i in range(10,days+1):
        day.append(str(i))
    Dates = []
    for d in day:
        temp = [year,month,d]
        temp = '-'.join(temp)
        Dates.append(temp)
    return Dates

In [10]:
def DataExtractor(equipment_list,equipments_data,Dates,Time):
    transactions = []
    no_of_eq = len(equipment_list)
    for date in Dates:
        day_ = DayDataExtraction(equipments_data,equipment_list,date)
        for time in Time:
            temp_list = TimeDataExtraction(day_,equipments_data,date,time,equipment_list)
            if len(temp_list)==0:
                continue
            #if len(temp_list)<no_of_eq:
             #   diff = no_of_eq-len(temp_list)
              #  for i in range(1,diff+1):
               #     temp_list.append('nan')
            else:
                transactions.append(temp_list)
    return transactions

In [11]:
def get_equipment_list(path):
    equipment_list = []
    for item in os.listdir(path):
        if 'channel_' in item and item != "channel_1.dat":
            equipment_list.append(item)
    return equipment_list

In [12]:
def get_equipment_data(path, equipment_list):
    equipments_data = equipment_loader(path, equipment_list)
    return equipments_data

In [13]:
def get_all_dates(time_period_info):
    dates = []
    for item in time_period_info:
        dates.extend(MonthDateGenerator(item[0],item[1],item[2]))
    return dates

In [14]:
def get_all_time_of_day():
    Time = DayTimeGenerator()
    return Time

In [15]:
def get_apriori_input_data(equipment_list,equipments_data,Dates,Time):
    apriori_data = DataExtractor(equipment_list,equipments_data,Dates,Time)
    return apriori_data

In [16]:
def get_support_and_pattern(apriori_data, minimum_support):
    te = TransactionEncoder()
    data = te.fit(apriori_data).transform(apriori_data)
    data = pd.DataFrame(data, columns = te.columns_)
    return apriori(data, min_support = minimum_support, use_colnames = True)

In [17]:
time_period_info = [   ['2013','01',31],
                 ['2013','02',28],
                 ['2013','03',31],
                 ['2013','04',30],
                 ['2013','05',31],
                 ['2013','06',30],
                 ['2013','07',31],
                 ['2013','08',31],
                 ['2013','09',30],
                 ['2013','10',31],
                 ['2013','11',30],
                 ['2013','12',31],
              
                 ['2014','01',31],
                 ['2014','02',28],
                 ['2014','03',31],
                 ['2014','04',30],
                 ['2014','05',31],
                 ['2014','06',30],
                 ['2014','07',31],
                 ['2014','08',31],
                 ['2014','09',30],
                 ['2014','10',31],
                 ['2014','11',30],
                 ['2014','12',31],
              
                 ['2015','01',31],
                 ['2015','02',28],
                 ['2015','03',31],
                 ['2015','04',30],
                 ['2015','05',31],
                 ['2015','06',30],
                 ['2015','07',31],
                 ['2015','08',31],
                 ['2015','09',30],
                 ['2015','10',31],
                 ['2015','11',30],
                 ['2015','12',31]]

In [46]:
apriori_data[9000]

['17:00:00 channel_6',
 '17:00:00 channel_5',
 '17:00:00 channel_4',
 '17:00:00 channel_10',
 '17:00:00 channel_12',
 '17:00:00 channel_13',
 '17:00:00 channel_17',
 '17:00:00 channel_14',
 '17:00:00 channel_15',
 '17:00:00 channel_18',
 '17:00:00 channel_19',
 '17:00:00 channel_9',
 '17:00:00 channel_8']

### House 2 patterns -> 30 min resampled

In [23]:
apriori_data = np.load("./Channel_On_Off_data/House_2/" + "apriori_data.npy", allow_pickle=True)
house_2_30_min_resampled_patterns = get_support_and_pattern(apriori_data, 0.02)
house_2_30_min_resampled_patterns.to_csv('Pattern_Files/house_2_30_min_resampled_patterns.csv')

In [24]:
house_2_30_min_resampled_patterns.sort_values(by=['support'], ascending=False)

      support                                           itemsets
128  0.021039                               (21:00:00 channel_6)
126  0.021039                               (21:00:00 channel_4)
274  0.021039           (21:30:00 channel_4, 21:30:00 channel_6)
273  0.021039           (21:30:00 channel_4, 21:30:00 channel_5)
272  0.021039           (21:00:00 channel_6, 21:00:00 channel_5)
..        ...                                                ...
76   0.020519                               (12:30:00 channel_5)
313  0.020519  (12:30:00 channel_6, 12:30:00 channel_5, 12:30...
220  0.020519           (12:30:00 channel_6, 12:30:00 channel_4)
219  0.020519           (12:30:00 channel_5, 12:30:00 channel_4)
77   0.020519                               (12:30:00 channel_6)

[336 rows x 2 columns]

In [25]:
# house_2_30_min_resampled_patterns.astype({'support':'int'})

In [45]:
house_2_30_min_resampled_patterns.sort_values(by=['support'], ascending=False)

      support                                           itemsets
128  0.021039                  frozenset({'21:00:00 channel_6'})
126  0.021039                  frozenset({'21:00:00 channel_4'})
274  0.021039  frozenset({'21:30:00 channel_4', '21:30:00 cha...
273  0.021039  frozenset({'21:30:00 channel_5', '21:30:00 cha...
272  0.021039  frozenset({'21:00:00 channel_5', '21:00:00 cha...
..        ...                                                ...
76   0.020519                  frozenset({'12:30:00 channel_5'})
313  0.020519  frozenset({'12:30:00 channel_4', '12:30:00 cha...
220  0.020519  frozenset({'12:30:00 channel_4', '12:30:00 cha...
219  0.020519  frozenset({'12:30:00 channel_4', '12:30:00 cha...
77   0.020519                  frozenset({'12:30:00 channel_6'})

[336 rows x 2 columns]

In [104]:
house_2_30_min_resampled_patterns.sort_values(by=['support'], ascending=False)[:30].iloc[13][1]

frozenset({'21:00:00 channel_4', '21:00:00 channel_5', '21:00:00 channel_6'})

In [36]:
house_2_30_min_resampled_patterns = pd.read_csv('Pattern_Files/house_2_30_min_resampled_patterns.csv', header=0, names=['support', 'itemsets'])

In [37]:
house_2_30_min_resampled_patterns

      support                                           itemsets
0    0.020831                  frozenset({'00:00:00 channel_4'})
1    0.020831                  frozenset({'00:00:00 channel_5'})
2    0.020831                  frozenset({'00:00:00 channel_6'})
3    0.020831                  frozenset({'00:30:00 channel_4'})
4    0.020831                  frozenset({'00:30:00 channel_5'})
..        ...                                                ...
331  0.021039  frozenset({'21:30:00 channel_5', '21:30:00 cha...
332  0.020935  frozenset({'22:00:00 channel_4', '22:00:00 cha...
333  0.020831  frozenset({'22:30:00 channel_6', '22:30:00 cha...
334  0.020831  frozenset({'23:00:00 channel_4', '23:00:00 cha...
335  0.020831  frozenset({'23:30:00 channel_5', '23:30:00 cha...

[336 rows x 2 columns]

In [31]:
rules = association_rules(house_2_30_min_resampled_patterns, metric="confidence", min_threshold=0.005)

In [33]:
rules.sort_values(by=['confidence'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(00:00:00 channel_5),(00:00:00 channel_4),0.020831,0.020831,0.020831,1.000,48.005000,0.020397,inf
385,"(08:00:00 channel_4, 08:00:00 channel_5)",(08:00:00 channel_6),0.020935,0.020935,0.020935,1.000,47.766169,0.020497,inf
379,"(07:30:00 channel_4, 07:30:00 channel_6)",(07:30:00 channel_5),0.020935,0.020935,0.020935,1.000,47.766169,0.020497,inf
380,"(07:30:00 channel_5, 07:30:00 channel_6)",(07:30:00 channel_4),0.020935,0.020935,0.020935,1.000,47.766169,0.020497,inf
381,(07:30:00 channel_4),"(07:30:00 channel_5, 07:30:00 channel_6)",0.020935,0.020935,0.020935,1.000,47.766169,0.020497,inf
...,...,...,...,...,...,...,...,...,...
478,(15:30:00 channel_4),"(15:30:00 channel_5, 15:30:00 channel_6)",0.020831,0.020727,0.020727,0.995,48.005000,0.020295,195.854598
476,"(15:30:00 channel_4, 15:30:00 channel_5)",(15:30:00 channel_6),0.020831,0.020727,0.020727,0.995,48.005000,0.020295,195.854598
188,(15:30:00 channel_4),(15:30:00 channel_6),0.020831,0.020727,0.020727,0.995,48.005000,0.020295,195.854598
479,(15:30:00 channel_5),"(15:30:00 channel_4, 15:30:00 channel_6)",0.020831,0.020727,0.020727,0.995,48.005000,0.020295,195.854598
191,(15:30:00 channel_5),(15:30:00 channel_6),0.020831,0.020727,0.020727,0.995,48.005000,0.020295,195.854598

In [38]:
rules[rules['antecedents'] == rules['antecedents'][191]]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
187,(15:30:00 channel_5),(15:30:00 channel_4),0.020831,0.020831,0.020831,1.000,48.005,0.020397,inf
191,(15:30:00 channel_5),(15:30:00 channel_6),0.020831,0.020727,0.020727,0.995,48.005,0.020295,195.854598
479,(15:30:00 channel_5),"(15:30:00 channel_4, 15:30:00 channel_6)",0.020831,0.020727,0.020727,0.995,48.005,0.020295,195.854598

### House 2 patterns -> 1 Hour resampled

In [50]:
apriori_data = np.load("./Channel_On_Off_data/House_2/One_Hour/" + "apriori_data.npy", allow_pickle=True)
house_2_1_hour_resampled_patterns = get_support_and_pattern(apriori_data, 0.02)
house_2_1_hour_resampled_patterns.to_csv('house_2_1_hour_resampled_patterns.csv')

In [117]:
# House 2 patterns -> 1 hour resampling
house_2_1_hour_resampled_patterns.sort_values(by=['support'], ascending=False)[:15]

       support                                           itemsets
288   0.042040                               (21:00:00 channel_4)
6367  0.042040  (21:00:00 channel_4, 21:00:00 channel_5, 21:00...
1824  0.042040           (21:00:00 channel_4, 21:00:00 channel_6)
1823  0.042040           (21:00:00 channel_4, 21:00:00 channel_5)
1828  0.042040           (21:00:00 channel_5, 21:00:00 channel_6)
289   0.042040                               (21:00:00 channel_5)
290   0.042040                               (21:00:00 channel_6)
1899  0.041831           (22:00:00 channel_5, 22:00:00 channel_6)
1515  0.041831           (17:00:00 channel_6, 17:00:00 channel_5)
3393  0.041831  (07:00:00 channel_5, 07:00:00 channel_6, 07:00...
6111  0.041831  (20:00:00 channel_6, 20:00:00 channel_5, 20:00...
3606  0.041831  (08:00:00 channel_5, 08:00:00 channel_4, 08:00...
302   0.041831                               (22:00:00 channel_4)
303   0.041831                               (22:00:00 channel_5)
672   0.041831           (05:00:00 channel_5, 05:00:00 channel_4)

### House 3 patterns -> 30 min resampled

In [114]:
apriori_data = np.load("./Channel_On_Off_data/House_3/" + "apriori_data.npy", allow_pickle=True)
house_3_30_min_resampled_patterns = get_support_and_pattern(apriori_data, 0.02)
house_3_30_min_resampled_patterns.to_csv('house_3_30_min_resampled_patterns.csv')

In [116]:
house_3_30_min_resampled_patterns.sort_values(by=['support'], ascending=False)[15:30]

     support                                  itemsets
36  0.020928                      (14:00:00 channel_3)
35  0.020928                      (13:30:00 channel_3)
34  0.020928                      (13:00:00 channel_3)
33  0.020928                      (12:30:00 channel_3)
41  0.020928                      (16:30:00 channel_3)
40  0.020928                      (16:00:00 channel_3)
45  0.020928                      (18:30:00 channel_3)
31  0.020928                      (11:30:00 channel_3)
55  0.020928                      (22:00:00 channel_2)
57  0.020928                      (22:30:00 channel_2)
59  0.020928                      (23:00:00 channel_2)
61  0.020928                      (23:30:00 channel_2)
77  0.020928  (22:00:00 channel_3, 22:00:00 channel_2)
78  0.020928  (22:30:00 channel_2, 22:30:00 channel_3)
79  0.020928  (23:00:00 channel_3, 23:00:00 channel_2)

In [120]:
house_3_30_min_resampled_patterns.shape

(81, 2)

### House 3 patterns -> 1 Hour resampled

In [105]:
house_3_1_hour_resampled_patterns.sort_values(by=['support'], ascending=False)[:30]

     support                                  itemsets
44  0.043820                      (20:00:00 channel_3)
50  0.042697                      (23:00:00 channel_3)
42  0.042697                      (19:00:00 channel_3)
46  0.042697                      (21:00:00 channel_3)
48  0.042697                      (22:00:00 channel_3)
77  0.041573  (23:00:00 channel_3, 23:00:00 channel_2)
32  0.041573                      (14:00:00 channel_3)
1   0.041573                      (00:00:00 channel_3)
30  0.041573                      (13:00:00 channel_3)
40  0.041573                      (18:00:00 channel_3)
28  0.041573                      (12:00:00 channel_3)
26  0.041573                      (11:00:00 channel_3)
24  0.041573                      (10:00:00 channel_3)
20  0.041573                      (08:00:00 channel_3)
47  0.041573                      (22:00:00 channel_2)
36  0.041573                      (16:00:00 channel_3)
49  0.041573                      (23:00:00 channel_2)
34  0.041573                      (15:00:00 channel_3)
7   0.041573                      (03:00:00 channel_3)
76  0.041573  (22:00:00 channel_3, 22:00:00 channel_2)
11  0.041573                      (05:00:00 channel_3)
3   0.041573                      (01:00:00 channel_3)
9   0.041573                      (04:00:00 channel_3)
5   0.041573                      (02:00:00 channel_3)
38  0.040449                      (17:00:00 channel_3)
75  0.040449  (21:00:00 channel_2, 21:00:00 channel_3)
74  0.040449  (20:00:00 channel_3, 20:00:00 channel_2)
51  0.040449  (00:00:00 channel_3, 00:00:00 channel_2)
52  0.040449  (01:00:00 channel_2, 01:00:00 channel_3)
43  0.040449                      (20:00:00 channel_2)

      support                                           itemsets
0    0.020831                               (00:00:00 channel_4)
1    0.020831                               (00:00:00 channel_5)
2    0.020831                               (00:00:00 channel_6)
3    0.020831                               (00:30:00 channel_4)
4    0.020831                               (00:30:00 channel_5)
..        ...                                                ...
331  0.021039  (21:30:00 channel_5, 21:30:00 channel_6, 21:30...
332  0.020935  (22:00:00 channel_5, 22:00:00 channel_6, 22:00...
333  0.020831  (22:30:00 channel_5, 22:30:00 channel_6, 22:30...
334  0.020831  (23:00:00 channel_5, 23:00:00 channel_6, 23:00...
335  0.020831  (23:30:00 channel_6, 23:30:00 channel_4, 23:30...

[336 rows x 2 columns]

In [65]:
pat_3[:10]

    support                  itemsets
0  0.600699              (channel_14)
1  0.600507              (channel_18)
2  0.440683               (channel_2)
3  0.388178               (channel_3)
4  0.999357               (channel_4)
5  0.999983               (channel_5)
6  0.999722               (channel_6)
7  0.528103               (channel_7)
8  0.600507  (channel_18, channel_14)
9  0.600699   (channel_4, channel_14)

In [180]:
# patterns = get_support_and_pattern(apriori_data, 0.001) #house3

In [181]:
# patterns

      support                                  itemsets
0    0.003501                      (00:00:00 channel_3)
1    0.001325                      (00:00:00 channel_4)
2    0.003501                      (00:05:00 channel_3)
3    0.001325                      (00:05:00 channel_4)
4    0.003501                      (00:10:00 channel_3)
..        ...                                       ...
537  0.001041  (22:50:00 channel_3, 22:50:00 channel_5)
538  0.001041  (23:40:00 channel_3, 23:40:00 channel_4)
539  0.001136  (23:45:00 channel_4, 23:45:00 channel_3)
540  0.001325  (23:50:00 channel_4, 23:50:00 channel_3)
541  0.001325  (23:55:00 channel_4, 23:55:00 channel_3)

[542 rows x 2 columns]